api/node_modules/
client/node_modules/
dist/
/uploads/
api/package-lock.json
/processing-examples
node_modules
npm-debug.log
dist
package-lock.json
.gitignore
/.vscode
api/node_modules
api/package-lock.json
client/node_modules
client/dist
publicCode/
api/keys/
api/build
