#adminContainer {
    max-width: 100%;
    width: 100vw;
    position: fixed;
    left: 10px;
    margin: 10px;    
}

#userTable {
    // border: .1rem solid #ececec;
    // border-radius: 8px;
    // margin-right: 0;
    // margin-left: 0;
}

.colHeader {
    height: 50px;
}

.modalFormButton{
    margin: 10px;
}

