.announcement {
    display: inline-block;
    width: 94%;
    height: 3.65rem;
    text-align: center;
    color: rgba($color: #7f7f7f, $alpha: 1.0);
    padding: 1rem;
    border: .1rem solid rgba($color: #3eafa4, $alpha: 0.8);
    border-radius: 8px;
    border-width: thin;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgba($color: #3FDAC1, $alpha: 0.2);
}

.announce-message {
    font-weight: 575;
}
