@import "boostrap-overwrite.scss";

.wrapper {
    margin-top: 80px;
    button {
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
    }
}

