.navbar {
	height:70px;
	margin:0 !important;
	background-color: #7da888
}
.sidebar {
	top:0;
	height:100vh;
	padding:0 !important;
	position:fixed !important;
	background-color: #709178
}
.logo {
	color:#FFFFFF;
}
.panel {
	width:24rem;
	color:#FFFFFF;
	background-color: #7da888
}