$font-stack: 'Fredoka One', cursive;

// #main-nav {
//     display: flex;
// }

.title {
	font-family: $font-stack;
	display: inline;

}

.nav-bar {
	display: flex;
	justify-content: space-between;
}


§