// Custom variables
$primaryColor: #7DA888;
$primaryColor: #D18636;
$primaryColor: #56C3D6;
$primaryColor: #3FDAC1;
$secondaryColor: #709178;
$secondaryColor: #B36E39;
$secondaryColor: #4CA1B0;
$secondaryColor: #509899;
$secondaryColor: #3EA39C;
$tertiaryColor: #2C7A74;

$backgroundColor: #F4F5F5;
$colorWhite: #FFFFFF;
$colorAlternateWhite: #F9F9F9;
$colorOffWhite: #EEEEEE;
$colorOffWhite: #E9EAEA;
$colorGray: gray;
$colorBlack: #000000;
$colorOffBlack: #212529;

$colorPrimary: $primaryColor;
$colorSecondary: $secondaryColor;
$colorRestricted: #103C4C;
$colorRestrictedAlternate: #1B4D5D;
$colorDisabled: #AFB7B6;
$colorSuccess: green;
$colorDanger: #CE3B33;
$colorDangerAlternate: #CA4B25;
$colorWarning: yellow;
$colorInfo: blue;
$colorLight: $colorOffWhite;
$colorDark: $colorOffBlack;

$gradientVertical: linear-gradient(147deg, $secondaryColor 0%, $primaryColor 100%);
$gradientHorizontal: linear-gradient(118deg, $secondaryColor 31%, $primaryColor 100%);
$gradientHorizontal: linear-gradient(171deg, $secondaryColor 0%, $primaryColor 54%);
$gradientSecondary: linear-gradient(147deg, $tertiaryColor 0%, $secondaryColor 100%);

$gradientDanger: linear-gradient(147deg, $colorDangerAlternate 0%, $colorDanger 100%);

$fontTitle: "Fredoka One", cursive;

$headerHeight: 70px;

$shadowSmall: 0 0 10px 0 #B1B1B121;
$shadowSmallUp: 0 -5px 10px 0 #B1B1B121;
$shadowSmallDown: 0 5px 10px 0 #B1B1B121;
$shadowInsetSmallDown: inset 0px 5px 10px -5px #B1B1B121;
$shadowMedium: 0 0 10px 0 #47474740;
$shadowLarge: 0 0 100px 20px #00000085;


// Bootstrap variables

//https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss

//$red: $colorDanger;
//$alert-bg-level: 0;

$spacer: 1rem;
$spacers: (
		6: ($spacer * 4),
		7: ($spacer * 5)
);