// Bootstrap variables


// Custom variables
$primaryColor: #7da888;
$primaryColor: #d18636;
$primaryColor: #56c3d6;
$secondaryColor: #709178;
$secondaryColor: #b36e39;
$secondaryColor: #4ca1b0;

$colorWhite: #FFFFFF;
$colorOffWhite: #EEEEEE;

$fontTitle: 'Fredoka One', cursive;

$headerHeight: 70px;