

// Custom variables
$primaryColor: #7da888;
$primaryColor: #d18636;
$primaryColor: #56c3d6;
$primaryColor: #3fdac1;
$secondaryColor: #709178;
$secondaryColor: #b36e39;
$secondaryColor: #4ca1b0;
$secondaryColor: #509899;
$secondaryColor: #3ea39c;
$tertiaryColor: #2c7a74;

$backgroundColor: #f4f5f5;
$colorWhite: #FFFFFF;
$colorAlternateWhite: #F9F9F9;
$colorOffWhite: #EEEEEE;
$colorOffWhite: #e9eaea;
$colorBlack: #000000;
$colorOffBlack: #212529;

$colorPrimary: $primaryColor;
$colorSecondary: $secondaryColor;
$colorRestricted: #103C4C;
$colorRestrictedAlternate: #1b4D5D;
$colorSuccess: green;
$colorDanger: #ce3b33;
$colorDangerAlternate: #ca4b25;
$colorWarning: yellow;
$colorInfo: blue;
$colorLight: $colorOffWhite;
$colorDark: $colorOffBlack;

$gradientVertical: linear-gradient(147deg, $secondaryColor 0%, $primaryColor 100%);
$gradientHorizontal: linear-gradient(118deg, $secondaryColor 31%, $primaryColor 100%);
$gradientHorizontal: linear-gradient(171deg, $secondaryColor 0%, $primaryColor 54%);
$gradientSecondary: linear-gradient(147deg, $tertiaryColor 0%, $secondaryColor 100%);

$gradientDanger: linear-gradient(147deg, $colorDangerAlternate 0%, $colorDanger 100%);

$fontTitle: 'Fredoka One', cursive;

$headerHeight: 70px;

$shadowSmall: 0 0 10px 0 #b1b1b121;
$shadowSmallUp: 0 -5px 10px 0 #b1b1b121;
$shadowSmallDown: 0 5px 10px 0 #b1b1b121;
$shadowMedium: 0 0 10px 0 #47474740;
$shadowLarge: 0 0 100px 20px #00000085;


// Bootstrap variables

//https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss

//$red: $colorDanger;
//$alert-bg-level: 0;

$spacer: 1rem;
$spacers: (
	6: ($spacer * 4),
	7: ($spacer * 5)
);